.cardView {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
    background-color: var(--first-color);
    font-size: 60px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    margin: 5px
}

.cardView-isDiscovered {
    background-color: var(--fourth-color);
    /*cambiar*/
    pointer-events: none !important;
}