.difficultyView {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.levelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.divLevel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--other-color);
    border-radius: 10px;
    max-width: 350px;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.easyStars {
    width: 250px;
    height: 70px;
    background: url(../assets/images/easy.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.easyLblDiv {
    height: 70px;
}

.normalStars {
    width: 250px;
    height: 70px;
    background: url(../assets/images/normal.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hardStars {
    width: 250px;
    height: 70px;
    background: url(../assets/images/hard.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.easyLbl,
.normalLbl,
.hardLbl {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px !important;
    font-weight: bold;
    height: 20px !important;
    background-color: transparent !important;
    border: none !important;
    padding: 20px 5px 20px 5px;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.easyLbl {
    color: #00CC06 !important;
}

.easyLbl:hover {
    color: #85ff89 !important;
    font-size: 40px !important;
}

.normalLbl {
    color: #FA8103 !important;
}

.normalLbl:hover {
    color: #f8be80 !important;
    font-size: 40px !important;
}

.hardLbl {
    color: #FF3131 !important;
}

.hardLbl:hover {
    color: #ff8c8c !important;
    font-size: 40px !important;
}

.levelSelected {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    /* sombra */
    border: 2px solid var(--second-color);
}