.loadingView {
    flex-direction: column;
}

.loadingView-title {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.loadingView-spinner {
    width: 230px;
    height: 230px;
    /*background: url(../assets/images/spinner.svg);*/
    background: url(../assets/images/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}