.playView {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap;*/
    background-color: azure;
    width: 100%;
    height: 100%;
}

.playView-cardsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: bisque;
    /*camnhiar*/
    width: 90%;
    height: 400px;
}

.playView.hubContainer {
    position: fixed;
    right: 0px;
    top: 0px;
    height: var(--navBar-height);
    width: 85%;
    background-color: blanchedalmond;
    /*Camnbiar color*/
    margin-bottom: 10px;
}