.playView {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.playView-cardsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #4D4D4D;
    /*camnhiar*/
    width: 90%;
    min-height: 600px;
    padding: 15px 10px 15px 10px;
}

.playView.hubContainer {
    position: fixed;
    right: 0px;
    top: 0px;
    height: var(--navBar-height);
    width: 85%;
    background-color: blanchedalmond;
    /*Camnbiar color*/
    margin-bottom: 10px;
}