/*@media (min-width: 769px) and (max-width: 1025px) {
    .menuView-logoIcon {
        width: 200px !important;
        height: 200px !important;
    }
    h1 {
        font-size: 24px !important;
    }
    .divTitle,
    .divOne,
    .divTwo,
    .divThree {
        margin: 15px 0px 15px 0px !important;
    }
    .menuView-btnStart {
        background-color: #00FD07 !important;
        width: 10px !important;
        padding: 20px !important;
        color: black !important;
    }
    .gameButton {
        height: 30px;
        width: 140px !important;
        padding: 30px 10px 30px 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (min-width: 375px) and (max-width: 668px) {
    h1 {
        font-size: 22px !important;
    }
}*/


/*
@media (max-width: 655px) {
    h1 {
        font-size: 24px!important;
    }
    .menuView-logoIcon {
        width: 200px;
        height: 200px;
    }
    .divTitle,
    .divOne,
    .divTwo,
    .divThree {
        margin: 25px 0px 25px 0px;
    }
    .divOne,
    .divTwo,
    .divThree {
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menuView-btnStart {
        background-color: #00FD07 !important;
        width: 140px !important;
        padding: 20px !important;
        color: black !important;
    }
}*/


/*revisar la propuedad del .navbarContainer-title {
    font-size: 30px !important;
    color: #fff;
    font-weight: bold;
}*/

@media (min-width: 280px) and (max-width: 374px) {
    h1 {
        font-size: 22px !important;
    }
    .menuView-logoIcon {
        width: 180px !important;
        height: 180px !important;
    }
    .divOne,
    .divTwo,
    .divThree {
        margin: 15px 0px 15px 0px;
    }
    .gameButton {
        font-size: 18px !important;
    }
}

@media (min-width: 375px) and (max-width: 413px) {
    h1 {
        font-size: 26px !important;
    }
    .menuView-logoIcon {
        width: 200px !important;
        height: 200px !important;
    }
    .divOne,
    .divTwo,
    .divThree {
        margin-top: 20px !important;
    }
    .gameButton {
        font-size: 18px !important;
    }
}

@media (min-width: 414px) and (max-width: 590px) {
    .menuView-btnStart {
        width: 100px !important;
        padding: 20px !important;
        color: black !important;
    }
    .divOne,
    .divTwo,
    .divThree {
        width: 320px;
        margin: 20px 0px 0px 0px;
    }
    .gameButton {
        font-size: 22px !important;
        height: 10px;
        width: 140px !important;
    }
}

@media (max-width: 281px) {}

@media (min-width: 591px) and (max-width: 1024px) {
    h1 {
        font-size: 30px !important;
    }
    .divOne,
    .divTwo,
    .divThree {
        width: 310px !important;
        margin-top: 20px !important;
    }
    .menuView-logoIcon {
        width: 210px !important;
        height: 210px !important;
    }
    .gameButton {
        font-size: 22px !important;
        width: 140px !important;
    }
}