.themeView {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.divThemesInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.themeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.foodTheme,
.objectsTheme,
.facesTheme,
.animalsTheme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

.iconTheme {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    background-color: var(--other-color);
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    font-size: 80px;
    border: 5px solid var(--second-color);
}